#grid-pagina{
    display:grid;
    grid-gap: 20px;
    grid-template-areas:"zona1 zona1 zona1 zona1 "
                        "zona1 zona1 zona1 zona1"
                        "zona2 zona2 zona3 zona3"
                        "zona2 zona2 zona4 zona4"
                        "zona5 zona6 zona6 zona7"
                        "zona8 zona8 zona8 zona8"
                        ;
}
#grid-pagina>*{
    outline: 4px solid var(--c5);  
    border-radius: 10px;
    padding: 10px ;
}


#welcome{
    grid-area: zona1;  
}
#tabel{
    grid-area: zona2;    
}
#calendar{
    grid-area: zona3;
}
#oferte{
    grid-area: zona4;
}
#vizualizari{
    grid-area: zona5;
}
#statistici{
    grid-area: zona6;
}
#despre{
    grid-area: zona7;
}
#detalii{    
    grid-area: zona8;
}


@media screen and (max-width:1200px) {
    body{
        --dim:80px;
    }
    #grid-pagina{
        display:grid;
        grid-template-areas:"zona1 zona1 zona1 "
                            "zona1 zona1 zona1 "
                            "zona2 zona2 zona3 "
                            "zona2 zona2 zona4 "
                            "zona5 zona6 zona7"
                            "zona8 zona8 zona8"
                            ;
    }
}

@media screen and (max-width:800px) {
    body{
        --dim:50px;
    }
    #grid-pagina{
        display:block;
    }
    

}